$eerieblack: #242320;
$alabaster: #e9edde;
$black: #000;

$scheherazade: "Scheherazade", serif;
.scheherazade {
    font-family: $scheherazade;
}
$secular-one: "Secular One", sans-serif;
.secular {
    font-family: $secular-one;
}
$sen: "Sen", sans-serif;
.sen {
    font-family: $sen;
}
$staatliches: "Staatliches", cursive;
.staatliches {
    font-family: $staatliches;
}

@function calcvw($value) {
    @return 100vw * ($value / 1920);
}

body {
    margin: 0;
}

#product-wrappaer {
    position: absolute;
    top: 0;
    left: 0;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.productitems,
.product-preview-inner {
    //display: none;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.product-page {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: $eerieblack;
    overflow-y: scroll;
    overflow-x: hidden;
    .product-controls {
        position: absolute;
        z-index: 10;
        .close {
            position: relative;
            top: calcvw(75);
            right: -90vw;
            #close-button {
                width: 7vw;
                fill: none;
                stroke: #e9edde;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 2px;
            }
        }
    }
    .product-inner {
        margin-top: 15vw;
        > * {
            margin: 0 calcvw(150) 0 calcvw(150);
        }
        .product-preview {
            height: 39.875vw;
            overflow: hidden;
            .product-preview-inner {
                height: 100%;
                > video {
                    width: 100%;
                }
            }
        }
        .product-info {
            .product-header {
                color: white;
                display: flex;
                font-family: $secular-one;
                justify-content: space-between;
                font-size: calcvw(154);
                text-transform: uppercase;
                text-align: left;
                padding-top: calcvw(13);
                padding-bottom: calcvw(13);
            }
            .product-year {
                color: grey;
            }
            .product-desc {
                height: 50%;
                font-size: calcvw(104);
                font-family: $sen;
                text-align: left;
                color: #e9edde;
            }
        }
        .product-gallery {
            position: relative;
        }
    }
}
@mixin calcvwall($width, $height, $left, $top) {
    width: calcvw($width);
    height: calcvw($height);
    left: calcvw($left);
    top: calcvw($top);
}
.seji-wrapper {
    > * {
        height: 45vw;
        margin-top: 4vw;
        width: 80vw;
        background-size: contain !important;
        video {
            width: 100%;
        }
    }
    .seji1 {
        background: url(../seji/Screenshot_1.jpg);
    }
    .seji2 {
        background: url(../seji/Screenshot_2.jpg);
    }
    .seji3 {
        background: url(../seji/Screenshot_3.jpg);
    }
}
.nominal-wrapper {
    > * {
        height: 45vw;
        margin-top: 4vw;
        width: 80vw;
        background-size: contain !important;
        video {
            width: 100%;
        }
    }
    .nominal1 {
        background: url(../nomina/Screenshot_4.jpg);
    }
    .nominal2 {
        background: url(../nomina/Screenshot_5.jpg);
    }
    .nominal3 {
        background: url(../nomina/Screenshot_7.jpg);
    }
}
.drop-wrapper {
    height: calcvw(2450);
    > * {
        position: absolute;
        background-size: contain !important;
        video {
            width: 100%;
        }
    }
    .drop1 {
        @include calcvwall($width: 713, $height: 344, $left: 148, $top: 800);
        //background: url(seji/Screenshot_1.jpg);
    }
    .drop2 {
        @include calcvwall(713, 344.13, 605, 1010);
        //background: url(seji/Screenshot_2.jpg);
    }
    .drop3 {
        @include calcvwall($width: 713, $height: 331.3, $left: 1063, $top: 1221);
        //background: url(seji/Screenshot_3.jpg);
    }
    .drop4 {
        @include calcvwall($width: 1000, $height: 562.86, $left: 460, $top: 1670);
    }
    .drop5 {
        @include calcvwall($width: 750, $height: 422.05, $left: 287, $top: 2396);
    }
    .drop6 {
        @include calcvwall($width: 750, $height: 422.05, $left: 883, $top: 2641);
    }
}
