$eerieblack: #242320;
$alabaster: #e9edde;
$black: #000;

$scheherazade: "Scheherazade", serif;
.scheherazade {
    font-family: $scheherazade;
}
$secular-one: "Secular One", sans-serif;
.secular {
    font-family: $secular-one;
}
$sen: "Sen", sans-serif;
.sen {
    font-family: $sen;
}
$staatliches: "Staatliches", cursive;
.staatliches {
    font-family: $staatliches;
}

@function calcvw($value) {
    @return 100vw * ($value / 1920);
}

body,
html,
#root {
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: $eerieblack;
}
.filler {
    width: 100vw;
    height: 100vh;
}

.App {
    width: 100vw;
    height: 100vh;
    white-space: nowrap;
    overflow: auto;
    display: flex;
    margin-bottom: 2vw;
    flex-direction: column;
    > * {
        width: 90vw;
        white-space: normal;
    }
}

.aboutpage {
    width: 90vw;
    margin-left: 5vw;
    text-align: left;
    font-size: calcvw(172);
    font-family: $sen;
    color: $alabaster;
    font-weight: 700;
    .message {
        letter-spacing: -2.5px;
        padding-top: 5.20833vw;
        .resume {
            padding-left: calcvw(15);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.small-card {
    background: $eerieblack;
    width: 90vw;
    margin: 5vw;
    .card-inner {
        display: inline;
        .preview {
            background: grey;
            height: 96.923vw;
            &:hover {
                cursor: pointer;
            }
            overflow: hidden;
            > img {
                position: relative;
                height: 100%;
                left: -50%;
                overflow: hidden;
            }
        }
        .card-info {
            display: inline;
            color: $alabaster;

            .card-header {
                color: white;
                display: flex;
                justify-content: space-between;
                font-size: 8vw;
                text-transform: uppercase;
                text-align: left;
                padding-top: calcvw(13);
                padding-bottom: calcvw(13);
            }
            .card-year {
                color: grey;
            }
            .card-desc {
                display: inline;
                font-size: 5vw;
                font-family: $sen;
                text-align: left;
                margin-bottom: 100px;
            }
        }
    }
}
