$eerieblack: #242320;
$alabaster: #e9edde;
$black: #000;

$scheherazade: "Scheherazade", serif;
.scheherazade {
    font-family: $scheherazade;
}
$secular-one: "Secular One", sans-serif;
.secular {
    font-family: $secular-one;
}
$sen: "Sen", sans-serif;
.sen {
    font-family: $sen;
}
$staatliches: "Staatliches", cursive;
.staatliches {
    font-family: $staatliches;
}

@function calcvw($value) {
    @return 100vw * ($value / 1920);
}

body,
html,
#root {
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: $eerieblack;
}
.filler {
    width: 100vw;
    height: 100vh;
}

.App {
    width: (27vw + calcvw(260)) * 6 + 90vw + 100vw * 2;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
    > * {
        float: left;
        white-space: normal;
    }
}

.intropage {
    width: 90vw;
    height: 100vh;
    background: $eerieblack;
    color: $alabaster;
    font-family: $staatliches;
    font-size: 64px;

    .intropage-inner {
        padding-top: 11.822917vw;
        padding-left: 3.4375vw;
        width: calcvw(898);
        > * {
            //position: relative;
        }
    }
    .big-name {
        color: $alabaster;
        font-family: $secular-one;
        font-size: calcvw(144);
        white-space: nowrap;
        margin-left: calcvw(-9);
    }
    .name-underline {
        position: relative;
        top: calcvw(-26);
        height: 20px;
        background: $black;
    }
    .desc {
        font-family: $sen;
        font-size: calcvw(46);
        font-weight: 700;
        text-decoration: underline;
        text-align: left;
    }
}

.aboutpage {
    width: calcvw(1500);
    height: 100vh;
    text-align: left;
    font-size: calcvw(72);
    font-family: $sen;
    color: $alabaster;
    font-weight: 700;
    .message {
        width: calcvw(1200);
        letter-spacing: -2.5px;
        padding-top: 5.20833vw;
        .resume {
            padding-left: calcvw(15);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.small-card {
    height: 100vh;
    width: 27vw;
    background: $eerieblack;
    padding-right: calcvw(260);
    .card-inner {
        //background: red;
        position: relative;
        top: calcvw(100);
        height: calcvw(700);
        .preview {
            background: grey;
            height: 80%;
            &:hover {
                cursor: pointer;
            }
            overflow: hidden;
            > img {
                position: relative;
                height: 100%;
                left: -50%;
                overflow: hidden;
            }
        }
        .card-info {
            color: $alabaster;
            height: 20%;
            .card-header {
                color: white;
                display: flex;
                justify-content: space-between;
                font-size: calcvw(24);
                text-transform: uppercase;
                text-align: left;
                padding-top: calcvw(13);
                padding-bottom: calcvw(13);
            }
            .card-year {
                color: grey;
            }
            .card-desc {
                height: 50%;
                font-size: calcvw(14);
                font-family: $sen;
                text-align: left;
            }
        }
    }
}
